.hg/
Sphinx/
bin/
obj/
Sandcastle/Help/
Sandcastle/AutoThumbnailer.shfbproj_*
doxygen/
Setup/Release/
Setup/Debug/
AutoThumbnailer/
TestThumbnailGrid/
TestResults/
ThumbnailGridExerciser/
DebuggerTest/
RectangleTest/
Plots/
1Releases/
.hgtags
*~
*.ncb
*.suo
*.user
*.trx
*.dll
*.vsmdi
*.testsettings
