<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CLAutoThumbnailer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CLAutoThumbnailer.Properties.Settings>
            <setting name="StartTime" serializeAs="String">
                <value>00:00:05</value>
            </setting>
            <setting name="EndTime" serializeAs="String">
                <value>-00:00:05</value>
            </setting>
            <setting name="CreateOverview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverviewThumbs" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="OverviewColumns" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="OverviewRows" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="OverviewThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ThumbnailInterval" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="AutoInterval" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Intervals" serializeAs="String">
                <value>&lt;15=5, &lt;30=10, &lt;60=15, &lt;90=30, 60</value>
            </setting>
            <setting name="DetailThumbs" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DetailColumns" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DetailRows" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DetailThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LayoutMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RCOptimization" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxOptimizationSteps" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="WidthThreshold" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="HeightThreshold" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="LayoutThresholdAdjustment" serializeAs="String">
                <value>1.02</value>
            </setting>
            <setting name="MinColumns" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MinRows" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LabelPosition" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ScaleFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PageWidth" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="PageHeight" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ThumbnailMargin" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ThumbnailBorder" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoAspectRatio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinFileSize" serializeAs="String">
                <value>104857600</value>
            </setting>
            <setting name="VideoFileExts" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>3gp</string>
                        <string>asf</string>
                        <string>avi</string>
                        <string>divx</string>
                        <string>flv</string>
                        <string>m2v</string>
                        <string>m2p</string>
                        <string>m2ts</string>
                        <string>mkv</string>
                        <string>mov</string>
                        <string>mpeg</string>
                        <string>mpg</string>
                        <string>mp2</string>
                        <string>mp4</string>
                        <string>mts</string>
                        <string>ogm</string>
                        <string>rmvb</string>
                        <string>vob</string>
                        <string>wmv</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DetailFileTimestamps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysShowMilliseconds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoIntervals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubDirectory" serializeAs="String">
                <value />
            </setting>
        </CLAutoThumbnailer.Properties.Settings>
    </userSettings>
</configuration>